.inline {
  display: inline;
}
.orange-custom {
  color: #f57c00;
}
.red-alert {
  display: none;
  color: red;
  border: 3px solid #d32f2f;
  padding: 3px;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(images/body-background.png);
}
.wrap {
  position: absolute;
  background: white;
  width: 80%; 
  left: 20%;
  top: 60px;
  min-height: 60%;
}
.wrap-content {
  margin-top: 20px;
  width: 90%;
  margin-left: 5%;
}
.screen {
  line-height: 60px;
  position: relative;
  color: black;
  mix-blend-mode: screen;
  background-color: rgb(255, 255, 255);
  display: inline;
  padding: 5px;
  text-shadow: 1px 0px 0px rgb(0, 0, 0);
  text-shadow: 0px 1px 1px rgb(0, 0, 0);
  text-shadow: 1px 1px 0px rgb(0, 0, 0);
}
.sidenav-fixed {
  background: #262626;
  height: 100vh;
  top: 60px;
  left: 0;
  position: fixed;
  overflow-x: hidden;
  display: block;
  box-shadow: 2px -2px 3px #1f1f1f;
}
.sidenav-fixed a {
  font-size: 17px;
  letter-spacing: -0.5px;
  color: #f2f2f2;
  padding: 0px 20px;
  display: block;
  line-height: 55px;
  background-image: linear-gradient(to right,
                                      #262626,
                                      #262626 50%,
                                      #333333,
                                      #333333 50%);
  background-position: 0 0;
  background-size: 200% 100%;
  transition: all .2s ease-in-out;
}
.sidenav-fixed a:hover {
  background-position: 100% 0;
}
.sidenav-fixed > a > i {
  vertical-align: middle;
  font-size: 2rem;
  margin-right: 15px;
  margin-left: 15px;
}
.sidenav-fixed-small {
  background: #262626;
  height: 100vh;
  top: 60px;
  left: 0;
  position: fixed;
  overflow-x: hidden;
  display: block;
}
.sidenav-fixed-small a {
  font-size: 20px;
  color: #e6e6e6;
  display: block;
  padding: 0px 20px;
  line-height: 55px;
  background-image: linear-gradient(to right,
                                      #262626,
                                      #262626 50%,
                                      #333333,
                                      #333333 50%);
  background-position: 0 0;
  background-size: 200% 100%;
  transition: all .2s ease-in-out;
}
.sidenav-fixed-small a:hover {
  background-position: 100% 0;
}
.sidenav-fixed-small > a > i {
  vertical-align: middle;
  font-size: 2rem;
  margin-right: 30%;
}
.online-users h6 > i {
  vertical-align: middle;
} 
.navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background: #ff8a00;
  background: -moz-linear-gradient(left, #ff8a00 0%, #da1b60 100%);
  background: -webkit-linear-gradient(left, #ff8a00 0%,#da1b60 100%);
  background: linear-gradient(to right, #ff8a00 0%,#da1b60 100%);
  z-index: 999;
}
.navbar .nav-link {
  float: right;
  height: 60px;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 32px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color .2s ease-out;
}
.navbar input {
  float: right;
  padding: 16px 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  font-size: 18px;
  display: block;
  outline: 0;
}
.navbar .nav-link:hover {
  background-color: #262626;
  color: #f2f2f2;
}
.dropdown-content {
  background-color: #333333;
  margin: 0;
  display: none;
  min-width: 100px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.dropdown-content:focus {
  outline: 0;
}
.dropdown-content li {
  clear: both;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  min-height: 50px;
  line-height: 1.5rem;
  width: 100%;
  text-align: left;
}
.dropdown-content li:hover, .dropdown-content li.active {
  background-color: #262626;
  color: #f2f2f2;
}
.dropdown-content a {
  color: #fafafa;
}
a.menu-icon {
  display: none;
}
.navbar .text-input {
  font-family: inherit;
  max-width: 100%;
  border: 2px solid #333;
  border-radius: 25px;
  padding: 15px;
}
.navbar .text-input:active {
  border: 2px solid #262626;
}
@media all and (max-width: 600px) {
  .navbar .full {
    display: none;
  }
  .navbar .small {
    display: block;
  }
}
@media all and (min-width: 600px) {
  .navbar .full {
    display: block;
  }
  .navbar .small {
    display: none;
  }
}
.online-users {
  color: #f2f2f2;
}
.notifications-modal {
  min-width: 100%;
  min-height: 100%;
}
iframe {
  border: none;
}
select {
  max-width: 100%;
  border: 2px solid #1976d2;
}
.select-flair {
  width: 250px;
  border: 3px solid #1976d2;
  background: #ffffff;
}
.flair {
  display: inline;
  border: 3px solid #d9d9d9;
  background: #d9d9d9;
}
.post-image {
  width: 100%;
  height: 100%;
}
.countdown {
  border-radius: 25px;
  border: 2px solid #1976d2;
}
.middle {
  vertical-align: middle;
}
.button {
  margin-top: 5px;
  border-radius: 25px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: 'Montserrat';
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
}
.button-small {
  border-radius: 25px;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Montserrat';
    display: inline-block;
    white-space: nowrap;
    max-width: 100%;
}
.button-admin {
  margin-top: 20px;
  background: none;
  border: none;
  color: black;
  padding: 12px 24px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
  font-family: 'Montserrat';
  display: inline-block;
  max-width: 100%;
  width: 100%; 
  height: 200px;
  font-weight: 600;
}
.button-admin:hover {
  background: black;
  color: white;
  font-size: 30px;
}
.button1 {
    background-color: white; 
    color: #1976d2; 
    border: 2px solid #1976d2;
}
.button1:hover {
    background-color: #1976d2;
    color: white;
}
.button1-reverse {
  background-color: #1976d2;
  color: white;
  border: 2px solid #1976d2;
}

.button1-reverse:hover {
  background-color: white; 
  color: #1976d2; 
}
.button2 {
  background-color: white;
  color: #f57c00;
  border: 2px solid #f57c00;
}
.button2:hover {
  background-color: #f57c00;
  color: white;
}
.button3 {
  background-color: white;
  color: #d32f2f;
  border: 2px solid #d32f2f;
}
.button3:hover {
  background-color: #d32f2f;
  color: white;
}
.text-input {
  font-family: inherit;
  max-width: 100%;
  border: 2px solid #1976d2;
  border-radius: 25px;
  padding: 15px;
}
textarea.text-input {
  min-height: 100px;
}
a {
  color: #1976d2;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.sidenav .divider {
  margin: 8px 0 0 0;
}
.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
}
h2 > i {
  vertical-align: middle;
}
p > i {
  vertical-align: middle;
}
.box {
  background: #fafafa;
  border-radius: 25px;
  display: inline-block;
}
.box1 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23), 0 -3px 6px rgba(0,0,0,0.23);
}
.break-long-words {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}
.text-input::placeholder {
  color: grey;
}
.tiny-text {
  font-size: 13px;
}
@media all and (max-width: 2160px) {

  .sidenav-fixed {
    display:inherit;
  }
  .sidenav-fixed-small {
    display:none;
  }

}

@media all and (max-width: 1280px) {

  .sidenav-fixed {
    display:none;
  }
  .sidenav-fixed-small {
    display:inherit;
  }

}
.btn-light-mode {
  background: #fff;
}

.btn-dark-mode {
  background:red;
}