body {
  background: white;
}
.button {
    border-radius: 25px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: white; 
    color: #1976d2; 
    border: 2px solid #1976d2;
}

.button1:hover {
    background-color: #1976d2;
    color: white;
}
.button1-reverse {
  background-color: #1976d2;
  color: white;
}

.button1-reverse:hover {
  background-color: white; 
  color: #1976d2; 
  border: 2px solid #1976d2;
}
.button2 {
  background-color: white;
  color: #f57c00;
  border: 2px solid #f57c00;
}
.button2:hover {
  background-color: #f57c00;
  color: white;
}
.button3 {
  background-color: white;
  color: #d32f2f;
  border: 2px solid #d32f2f;
}
.button3:hover {
  background-color: #d32f2f;
  color: white;
}
.text-input {
  border: 1px solid #1976d2;
  border-radius: 25px;
  padding: 15px;
}
a {
  color: #1976d2;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.sidenav .divider {
  margin: 8px 0 0 0;
}
.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
}
.dropdown-content li.divider {
  min-height: 0;
  height: 1px;
}
.box {
  background: #fafafa;
  border-radius: 25px;
  display: inline-block;
}
.box1 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.break-long-words {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}